body {
	padding: 20px;
	margin: 0;
}

img {
	margin-left: 12px;
	float: left;
}

.tab-section {
	clear: both;
	margin: 12px;
	list-style: none;
}

form {
	margin: 10px;
	padding: 10px;
	background-color: #DDD;
}

.cf {
	clear: both;
	display: block;
	margin-top: 12px;
}