<div class="dex-view" ng-controller="PokeController as pokeCtrl">

	<form name="searchForm"
			ng-submit="pokeCtrl.submitSearch({'qVal': pokeCtrl.qVal, 'qType': pokeCtrl.qType})">
		
		<input ng-model="pokeCtrl.qVal" type="text">
		<select ng-model="pokeCtrl.qType" ng-options="type.value as type.text for type in pokeCtrl.types"></select>

		<button type="submit" value="Submit">Pokedex go!</button>

	</form>

	<div class="entry" ng-class="search.qType" ng-repeat="search in pokeCtrl.pokedex.searches | orderBy:'-$index' track by $index">

		<h2>{{search.name}} #{{search.national_id}}</h2>

		<img ng-src="http://pokeapi.co{{search.image.image}}" alt="">

		<div class="info">
			<p>type: <span ng-repeat="type in search.types">{{type.name}}</span></p>

			<p>height: {{search.height}} ft</p>

			<p>weight: {{search.weight}} lbs</p>

			<p>egg groups: <span ng-repeat="egg_group in search.egg_groups">{{egg_group.name}}</span></p>

			<p>abilities: <span ng-repeat="ability in search.abilities">{{ability.name}}</span></p>
		</div>

		<div class="stats">
			<p>base stats:</p>
			<ul>
				<li>speed: {{search.speed}}</li>
				<li>hp: {{search.hp}}</li>
				<li>attack: {{search.attack}}</li>
				<li>defense: {{search.defense}}</li>
				<li>special attack: {{search.sp_atk}}</li>
				<li>special defense: {{search.sp_def}}</li>
			</ul>
		</div>

		<div class="description">
			<p>{{search.randDesc.description}}</p>
			<p>description from: <span ng-repeat="game in search.randDesc.games">{{game.name}}</span></p>
		</div>

		<!-- <div class="moves">
			<p>moves:</p>
			<ul>
				<li ng-repeat="move in search.moves">
					{{move.name}} learned by {{move.learn_type}}
				</li>
			</ul>
		</div> -->

	</div>
	
</div>